@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
.global-container {
  height: 100vh;
}

.hero-main {
  height: 90%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  margin-left: 1em;
}
header i {
  margin-right: 1em;
  cursor: pointer;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.slider {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
}
.slider .link-btn {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 33%;
  padding: 1rem;
  background-color: rgba(24, 24, 24, 0.4901960784);
  border-radius: 10px;
  cursor: pointer;
}
.slider .link-btn a {
  color: #e5f4f1;
  font-weight: 700;
  text-decoration: none;
}
.slider .link-btn:hover {
  background-color: rgba(218, 215, 215, 0.7215686275);
  transform: scale(1.2);
  transition: 0.3s;
}
.slider .link-btn:hover a {
  color: hsl(0deg, 0%, 15%);
}
.slider__slides {
  width: 100%;
}
.slider__slides :first-child {
  background-image: url("images/compass.jpeg");
}
.slider__slides :nth-child(2) {
  background-image: url("images/ecuador.jpeg");
}
.slider__slides :nth-child(3) {
  background-image: url("images/japan.jpeg");
}
.slider__slides :last-child {
  background-image: url("images/turkey.jpeg");
}
.slider__image {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
  opacity: 0;
  background-size: cover;
}
.slider__image.active {
  transition: 3s;
  opacity: 1;
}

@media screen and (max-width: 640px) {
  .slider__nav-button {
    height: 40px;
    width: 40px;
  }
}
@media screen and (min-width: 1279px) {
  header i {
    font-size: 2rem;
  }

  .slider .link-btn {
    left: 45%;
  }
  .slider .link-btn a {
    font-size: 2rem;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: hsl(0deg, 0%, 98%);
}

.title {
  font-weight: 800;
  font-size: 28px;
}

.subtitle {
  font-weight: 600;
  font-size: 22px;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

nav section {
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.dark-moon {
  height: auto;
  width: 22px;
  cursor: pointer;
}

.dark-mode-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-icon {
  height: auto;
  width: 28px;
  cursor: pointer;
}

.h1_classes {
  font-size: 30px;
}

.p_classes {
  font-size: 12px;
  margin-top: 0.4%;
  margin-left: 0.5rem;
}

.h3_classes {
  font-size: 16px;
}

.body_except_for_header {
  margin: 0 8%;
}

.buttons {
  color: rgb(10, 97, 229);
  margin-top: 5%;
  background-color: white;
  border-color: rgb(118, 117, 117);
  padding: 10px 30px;
  cursor: pointer;
}

.country_details {
  margin-top: 7%;
  display: flex;
}

.flag_view {
  max-width: 100%;
  min-width: 20rem;
}

.headings_div {
  margin-top: 1.4rem;
  display: flex;
  align-items: center;
}

.border_countries {
  margin-top: 5%;
  display: flex;
  align-items: center;
}

.border_contry_buttons {
  display: flex;
  margin-top: -0.1%;
}

.details_all {
  display: flex;
}

.country_heading {
  margin-top: 0%;
}

.details_right {
  margin-top: 6%;
}

.details_left {
  margin-left: 1.5rem;
}

.border_buttons_all {
  display: flex;
  margin-left: 0.5rem;
}

.border_contry_buttons {
  margin-left: 0.5rem;
}

@media screen and (max-width: 376px) {
  body {
    background-color: hsl(0deg, 0%, 98%);
  }

  .title {
    font-weight: 100;
    font-size: 18px;
  }

  .subtitle {
    color: black;
    font-weight: 600;
    font-size: 16px;
  }

  nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  nav section {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .dark-moon {
    height: auto;
    width: 16px;
  }

  .dark-mode-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home-icon {
    height: auto;
    width: 20px;
  }

  .details_all {
    flex-direction: column;
  }

  .country_details {
    flex-direction: column;
  }

  .border_countries {
    flex-direction: column;
    align-items: flex-start;
  }

  .border_buttons_all {
    flex-direction: column;
  }

  .country_heading {
    margin-top: 5%;
  }

  .border_contry_buttons {
    margin-top: 10%;
  }

  .details_left {
    margin-left: 0;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}



@media screen and (max-width: 900px) {
  .country-list-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
  }
  body {
    background-color: hsl(0deg, 0%, 98%);
  }

  .title {
    font-weight: 800;
    font-size: 18px;
  }

  .subtitle {
    color: black;
    font-weight: 600;
    font-size: 16px;
  }

  nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  nav section {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .dark-moon {
    height: auto;
    width: 16px;
  }

  .dark-mode-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home-icon {
    height: auto;
    width: 20px;
  }

  .search-bar-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  input:focus, textarea:focus, select:focus {
    outline: none;
  }

  .input {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .input-container {
    height: 40px;
    margin-top: 30px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .search-bar {
    font-family: "Nunito Sans", sans-serif;
    font-size: 12px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 15px;
    margin-left: 15px;
  }

  .search-icon {
    height: auto;
    margin-left: 10px;
    width: 12px;
  }

  .dropdown {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  .dropbtn {
    background-color: white;
    color: black;
    font-weight: 300;
    padding: 8px;
    font-size: 15px;
    border: none;
    cursor: pointer;
  }

  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 139.575px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a:hover {
    background-color: rgb(192, 192, 192);
  }

  .dropdown-content a {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
  }

  .caret-down {
    height: auto;
    width: 10px;
    margin-right: 10px;
  }

  .flex {
    display: flex;
  }

  .margin-right {
    margin-right: 10px;
  }

  .main-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    background-color: hsl(0deg, 0%, 98%);
  }

  .country-card {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  .country-info {
    margin-left: 20px;
    padding-bottom: 40px;
  }

  .country-img {
    border-radius: 5px;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
  }

  .margin-bottom {
    margin-bottom: 10px;
  }

  .margin-top {
    margin-top: 20px;
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 901px) {
  .country-list-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
  }
  body {
    background-color: hsl(0deg, 0%, 98%);
  }

  .title {
    font-weight: 800;
    font-size: 28px;
  }

  .subtitle {
    font-weight: 600;
    font-size: 22px;
  }

  nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  nav section {
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .dark-moon {
    height: auto;
    width: 22px;
  }

  .dark-mode-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home-icon {
    height: auto;
    width: 28px;
  }

  .search-bar-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  input:focus, textarea:focus, select:focus {
    outline: none;
  }

  .input {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .input-container {
    height: 70px;
    margin-top: 60px;
    overflow: hidden;
  }

  .search-bar {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 30px;
    margin-left: 30px;
  }

  .search-icon {
    height: auto;
    margin-left: 30px;
    width: 20px;
  }

  .dropdown {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  .dropbtn {
    background-color: white;
    color: black;
    font-weight: 300;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 162.5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a:hover {
    background-color: rgb(192, 192, 192);
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
  }

  .caret-down {
    height: auto;
    width: 10px;
    margin-right: 10px;
  }

  .flex {
    display: flex;
  }

  .margin-right {
    margin-right: 10px;
  }

  .main-content-container {
    margin-top: 50px;
  }

  .country-card {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  .country-info {
    margin-left: 20px;
    padding-bottom: 40px;
    height: 50%;
  }

  .country-img {
    border-radius: 5px;
    height: 50%;
    width: 100%;
  }

  .margin-bottom {
    margin-bottom: 10px;
  }

  .margin-top {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=country-page.css.map */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

body {
  color: hsl(200deg, 15%, 8%);
  background-color: hsl(0deg, 0%, 98%);
}

.dark-mode {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(207deg, 26%, 17%);
}/*# sourceMappingURL=index.css.map */