@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: hsl(0deg, 0%, 98%);
}

.title {
  font-weight: 800;
  font-size: 28px;
}

.subtitle {
  font-weight: 600;
  font-size: 22px;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

nav section {
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.dark-moon {
  height: auto;
  width: 22px;
}

.dark-mode-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-icon {
  height: auto;
  width: 28px;
}

.h1_classes {
  font-size: 30px;
}

.p_classes {
  font-size: 12px;
  margin-top: 0.4%;
  margin-left: 0.5rem;
}

.h3_classes {
  font-size: 16px;
}

.body_except_for_header {
  margin: 0 8%;
}

.buttons {
  color: rgb(10, 97, 229);
  margin-top: 5%;
  background-color: white;
  border-color: rgb(118, 117, 117);
  padding: 10px 30px;
}

.country_details {
  margin-top: 7%;
  display: flex;
}

.flag_view {
  max-width: 100%;
  min-width: 20rem;
}

.headings_div {
  margin-top: 1.4rem;
  display: flex;
  align-items: center;
}

.border_countries {
  margin-top: 5%;
  display: flex;
  align-items: center;
}

.border_contry_buttons {
  display: flex;
  margin-top: -0.1%;
}

.details_all {
  display: flex;
}

.country_heading {
  margin-top: 0%;
}

.details_right {
  margin-top: 6%;
}

.details_left {
  margin-left: 1.5rem;
}

.border_buttons_all {
  display: flex;
  margin-left: 0.5rem;
}

.border_contry_buttons {
  margin-left: 0.5rem;
}

@media screen and (max-width: 376px) {
  body {
    background-color: hsl(0deg, 0%, 98%);
  }

  .title {
    font-weight: 100;
    font-size: 18px;
  }

  .subtitle {
    color: black;
    font-weight: 600;
    font-size: 16px;
  }

  nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  nav section {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .dark-moon {
    height: auto;
    width: 16px;
  }

  .dark-mode-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home-icon {
    height: auto;
    width: 20px;
  }

  .details_all {
    flex-direction: column;
  }

  .country_details {
    flex-direction: column;
  }

  .border_countries {
    flex-direction: column;
    align-items: flex-start;
  }

  .border_buttons_all {
    flex-direction: column;
  }

  .country_heading {
    margin-top: 5%;
  }

  .border_contry_buttons {
    margin-top: 10%;
  }

  .details_left {
    margin-left: 0;
  }
}/*# sourceMappingURL=countryview.css.map */